@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="wrapper">
    <div class="logo mb-5"><i class="fas fa-user-secret"></i> </div>
    @{
        if (Model?.EmailSent == true)
        {
            <div class="text-center alert-success justify-content-center align-items-center p-3">
                <p>If you are registered with us, an Email has been sent to this address.<br/> Please click on the link inside to update your password.</p>
            </div>
        }
        else
        {
            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="text-danger text-center alert-danger validation-summary-errors"></div>
            }
            <p class="text-center text-dark font-weight-bold">Forgot your password? No worries, you can reset it easily.</p>
            <form class="p-3 mt-3" asp-controller="Account" asp-action="ForgotPassword">
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span> <input type="text" asp-for="Email" id="userName" placeholder="Username">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <button class="btn mt-3">Reset</button>
            </form>
        }
    }
    <div class="text-center mt-5"> <a asp-action="Login">Login</a></div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}