@model AuthenticationModel
@{
    ViewData["Title"] = "Log in";
}


<div class="wrapper">
    <div class="logo"><i class="fas fa-bug"></i> </div>
    <div class="text-center mt-4 name"> Login </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <div asp-validation-summary="All" class="text-danger text-center  validation-summary-errors">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
    }
    <form class="p-3 mt-3 mb-3" asp-controller="Account" asp-action="Login">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span> <input type="text" asp-for="Email" id="userName" placeholder="Username">
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>

        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span> <input asp-for="Password" name="password" id="pwd" placeholder="Password">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6"><p>First time ? <a asp-action="Register">Register</a></p> </div>

    <div class="text-center fs-6"> <a asp-action="ForgotPassword">Forget password?</a></div>
    <div class="text-center fs-6"> <a asp-action="DemoLogin">Log as Demo User</a></div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
