@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}


<div class="wrapper">
    <div class="logo"><i class="fas fa-user-secret"></i> </div>
    <div class="text-center mt-4 name"> Reset password </div>
    <div asp-validation-summary="All" class="text-danger text-center alert-danger validation-summary-errors"></div>
    @{
        if (Model.IsSuccess)
        {
            <div class=" row alert-success justify-content-center p-3" role="alert">
                <p>Your Password has been updated succesfully.</p>
            </div>
        }
        else
        {
            <form class="p-3 mt-3" asp-controller="Account" asp-action="ResetPassword">
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span> <input asp-for="NewPassword" placeholder="New password">
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span> <input asp-for="ConfirmPassword" placeholder="Password confirmation">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Uid" />
                <button class="btn mt-3">Reset</button>
            </form>

        }
    }
    <div class="text-center fs-6"> <a asp-action="Login">Login</a></div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}