
<div id="sidebar-wrapper">

    <div class="container d-flex align-items-center flex-column" id="top-side-nav">
        <div class="logo">
            <a class="link-item" asp-area="" asp-controller="Home" asp-action="Index"><i class="far fa-arrow-alt-circle-left"></i></a>
        </div>
        <p class="top-nav-welcome">Welcome Admin</p>

        <div class="topic-choice">
            <select>
                <option data-target="all-topic">All</option>
                <option data-target="home-topic">Home</option>
                <option data-target="about-topic">About</option>
                <option data-target="project-topic">Project</option>
                <option data-target="services-topic">Services</option>
                <option data-target="inspiration-topic">Inspiration</option>
                <option data-target="contact-topic">Contact</option>
            </select>
        </div>
    </div>


    <ul class="sidebar-nav">

        <li class="home-topic topic active">
            <a class="outer-shadow hover-in-shadow active" data-target="Home" asp-controller="Home" asp-action="Index">
                Home section
            </a>
        </li>

        <li class="about-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="About" asp-controller="About" asp-action="Index">
                About section
            </a>
        </li>

        <li class="about-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Skill" asp-controller="skills">
                Skill section
            </a>
        </li>

        <li class="about-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Experience" asp-controller="Experience" asp-action="Index">
                Experience section
            </a>
        </li>

        <li class="about-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Study" asp-controller="Study">
                Study section
            </a>
        </li>

        <li class="services-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Services" asp-controller="Services">
                Services section
            </a>
        </li>

        <li class="about-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Project-category" asp-controller="ProjectCategory">
                Project category
            </a>
        </li>

        <li class="project-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Projects" asp-controller="Project">
                Projects section
            </a>
        </li>


        <li class="inspiration-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Inspiration" asp-controller="Inspiration">
                Inspiration section
            </a>
        </li>

        <li class="contact-topic topic active">
            <a class="outer-shadow hover-in-shadow" data-target="Contact" asp-controller="Contact">
                Contact section
            </a>
        </li>
    </ul>

</div>