@model List<string>;
<div class="alert alert-success alert-dismissible fade show w-100 m-0 border-radius-0" role="alert">
    <strong>Success - </strong> Your @Model[0] was @Model[1].
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>