@model string

<div class="modal-header">
    <h5 class="modal-title text-center" id="exampleModalLongTitle">Unlock user <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@if (User.IsInRole("Admin"))
{
    <form asp-controller="User" asp-action="Unlock">
        <input type="hidden" name="uid" value="@Model" />
        <div class="modal-body text-center">
            <p>You are about to unlock the user <span class="text-purple font-weight-bold" id="lock-user-name"></span>.</p>
            <p>The user will gain back the ability to connect to the application.</p>
            <p>Type <span class="text-green">Synchronize</span> to authorize the operation:</p>
            <input type="text" id="synchronize-validation" />
        </div>
        <div class="modal-footer text-center">
            <input type="submit" class="x-btn green" id="lock-btn" value="Unlock User" />
        </div>
    </form>
}

@if (User.IsInRole("Demo Admin"))
{
        <div class="modal-body text-center">
            <p>You are about to unlock the user <span class="text-purple font-weight-bold" id="lock-user-name"></span>.</p>
            <p>The user will gain back the ability to connect to the application.</p>
            <p>Type <span class="text-green">Synchronize</span> to authorize the operation:</p>
            <input type="text" id="synchronize-validation" />
        </div>
        <div class="modal-footer text-center">
            <button type="button" class="x-btn green" id="lock-btn">Unlock User</button>
        </div>
}


