<!--First row -->
<div class="row p-3 d-flex justify-content-around h-50">
    <div class="first-row col-4_5 mr-2 h-100">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title"> Team </div>
            <div class="project-add-holder"><a href="#" class="add-project-btn"> New Member</a></div>
        </div>

        <div class="row w-100">
            <div class="table-responsive">
                <table class="table">
                    <thead class="project-thead">
                        <tr>
                            <th scope="col" class="text-muted">Name</th>
                            <th scope="col" class="text-muted">E-mail</th>
                            <th scope="col" class="text-muted">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">John doe</a></th>
                            <td>Johndoe@gmail.com</td>
                            <td>07 65 10 38 75</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">Jane Doe</a></th>
                            <td>Janedoe@gmail.com</td>
                            <td>06 17 18 31 04</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="first-row col-7 h-100">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title">Bug tracker Tickets </div>
            <div class="research-input-wrapper">
                <input type="text" class="research-input" placeholder="Reseach..." />
                <i class="fas fa-search"></i>
            </div>
            <div class="project-add-holder"><a href="#" class="add-project-btn"> New Ticket</a></div>
        </div>

        <div class="row w-100">
            <div class="table-responsive">
                <table class="table ticket-list-table">
                    <thead class="ticket-thead">
                        <tr>
                            <th scope="col" class="text-muted">Ticket Title</th>
                            <th scope="col" class="text-muted">Description</th>
                            <th scope="col" class="text-muted">Creator</th>
                            <th scope="col" class="text-muted">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="text-purple">Deploy Project</td>
                            <td>Deploy With As Little Cost As Possible</td>
                            <td>John doe</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Add user management</td>
                            <td>Add the possibility to assign user to project</td>
                            <td>Jane Doe</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>Add role management</td>
                            <td>Add the possibility to manage user/role</td>
                            <td> Jack Elfman</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>

<!--second  row -->
<div class="row p-3 d-flex justify-content-center h-50">
    <div class="second-row ticket-details-holder h-100">
        <div class="second-row-header row d-flex px-3  w-100 justify-content-between">
            <div class="title"> Ticket Info </div>
        </div>

        <div class="row w-100 d-flex justify-content-around backgound-overlay">
            <div class="col-6 box-shadow-1 m-1 mr-2 bg-white">
                <div class="row h-50 w-100">
                    <div class="h-50 w-100">
                        <table class="ticket-table table table-sm table-borderless w-100">
                            <thead>
                                <tr>
                                    <th scope="col">Ticket Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-purple font-weight-bold">Deploy project</td>
                                    <td>John Doe</td>
                                    <td>Deploy with as little cost as possible</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="h-50 w-100">
                        <table class="ticket-table table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Time estimated (Hour)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="purple-pill">In Progress</span></td>
                                    <td><span class="purple-pill">High</span></td>
                                    <td><span class="purple-pill">Feature</span></td>
                                    <td><span class="text-purple">5</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-100 separator"></div>
                <div class="row h-40 w-100">
                    <div class="col-12">
                        <div class="row px-3">
                            Assigned developper
                        </div>
                        <div class="row px-3 w-100">
                            @{
                                for (int i = 0; i < 8; i++)
                                {
                                    <span class="green-pill d-inline-block">John Doe</span>

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="max-width-45 box-shadow-1 m-1 mr-2 bg-white">
                <div class="h-10">
                    <div class="title p-2">Comments</div>
                </div>
                <div class="h-70 bg-light comments-holder">
                    @{
                        for (int i = 0; i < 9; i++)
                        {
                            <div class="comment p-2 w-100">
                                <p class="title">John Doe <span>12/01/2021 4:02 pm</span> <span class="float-right pr-2"><i class="far fa-comments"></i></span></p>
                                <p>Would need your attention on that.</p>
                            </div>  
                        }
                    }
                </div>
                <div class="h-20 px-3 comment-writter-holder">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type Comment" aria-label="Type Comment" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>