<!--First row -->
<div class="row p-3 d-flex justify-content-between h-50">
    <div class="first-row col-4_5 mr-2 h-100">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title"> Team </div>
            <div class="project-add-holder"><a href="#" class="add-project-btn"> New Member</a></div>
        </div>

        <div class="row w-100">
            <div class="table-responsive">
                <table class="table">
                    <thead class="project-thead">
                        <tr>
                            <th scope="col" class="text-muted">Name</th>
                            <th scope="col" class="text-muted">E-mail</th>
                            <th scope="col" class="text-muted">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">John doe</a></th>
                            <td>Johndoe@gmail.com</td>
                            <td>07 65 10 38 75</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">Jane Doe</a></th>
                            <td>Janedoe@gmail.com</td>
                            <td>06 17 18 31 04</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

    <div class="first-row col-7 h-100">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title"> Ticket </div>
            <div class="research-input-wrapper">
                <input type="text" class="research-input" placeholder="Reseach..." />
                <i class="fas fa-search"></i>
            </div>
            <div class="project-add-holder"><a href="#" class="add-project-btn"> New Ticket</a></div>
        </div>

        <div class="row w-100">
            <div class="table-responsive">
                <table class="table">
                    <thead class="project-thead">
                        <tr>
                            <th scope="col" class="text-muted">Ticket Title</th>
                            <th scope="col" class="text-muted">Description</th>
                            <th scope="col" class="text-muted">Creator</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a asp-area="Tracker" asp-controller="Project" asp-action="Details" asp-route-id="1">Bug tracker</a></th>
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">Portfolio Management</a></th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">Portfolio</a></th>
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>

<!--First row -->
<div class="row p-3 d-flex justify-content-center h-50">
    <div class="first-row col-12 mr-2 h-100">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="title"> Ticket Info </div>
        </div>

        <div class="row w-100">
            <div class="table-responsive">
                <table class="table">
                    <thead class="project-thead">
                        <tr>
                            <th scope="col" class="text-muted">Name</th>
                            <th scope="col" class="text-muted">E-mail</th>
                            <th scope="col" class="text-muted">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">John doe</a></th>
                            <td>Johndoe@gmail.com</td>
                            <td>07 65 10 38 75</td>
                        </tr>
                        <tr>
                            <th scope="row"><a href="#">Jane Doe</a></th>
                            <td>Janedoe@gmail.com</td>
                            <td>06 17 18 31 04</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>