@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
html {
    position: relative;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
}
html,body{
    height:100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.wrapper {
    min-width:400px;
    min-height: 500px;
    padding: 30px 20px 20px 20px;
    background-color: #ecf0f3;
    border-radius: 15px;
}

.logo {
    width: 80px;
    margin: auto;
}

.logo i {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
}

    .wrapper .form-field .fas {
        color: #555
    }

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

    .wrapper .btn:hover {
        background-color: #039BE5
    }

.wrapper a {
    text-decoration:underline !important;
    font-size: 0.8rem;
    color: #03A9F4
}
p {
    font-size: 0.8rem;
    color: #666666;
}
.wrapper a:hover {
    color: #039BE5
}

.demo-choice-holder {
    border-radius: 50%;
    padding: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background: white;
    border: 2px solid #cce4f4;
    transition:all 0.2s ease-in-out;
}
.demo-choice-holder:hover {
    transform: scale(1.08);
    background: #59f49338;
}

.demo-choice-holder span{
    font-size:10px;
    text-align:center;
}
.demo-choice-holder i{
    font-size:20px;
}
#admin-holder i {
    color: #7a65da;
}
#pj-holder i {
    color: #65b8da;
}
#dev-holder i {
    color: #00fb9f;
}
#submitter-holder i{
    color: #fba300;
}
.wrapper .email-container {
    min-height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style: none;
    font-size: 12px;
}

.field-validation-error {
    font-size: 12px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

@media(max-width: 380px) {
    .wrapper {
        min-width:330px;
        margin: 120px 20px;
        padding: 40px 15px 15px 15px
    }
}
