:root {
    --text-purple: #5d00ff;
    --text-green: #28a745;
    --text-gray: #c8c5ce;
    --blue: rgb(3,0,255,1);
    --light-blue: #00f9b31c;
    --light-gray-blue: #f2f7fd;
    --bg-black-50: #eaeaf4;
    --bg-scrollbar: #c7c7c7;
}
