@model BugTracker.Application.Features.Projects.ProjectWithTicketsAndTeamVm

<div class="py-4 row d-flex justify-content-around h-50">

    <div class="first-row col-11 p-0">
        <div class="first-row-header row d-flex px-3 py-2 w-100 justify-content-between">
            <div class="research-input-wrapper d-flex justify-content-center align-items-center">
                <p class="mb-0 mr-2">Find by </p>
                <select class="h-100 table-sorter-select">
                    <option>Name</option>
                    <option>Author</option>
                    <option>Priority</option>
                    <option>Status</option>
                    <option>Assigned developer</option>
                </select>
                <input type="text" class="table-sorter-input ml-1" placeholder="Reseach..." />
            </div>
            <div class="">
                <a href="#" data-toggle="modal" data-target="#showProjectTeam" class="show-team-btn">Manage Team</a>
            </div>

            <div class="project-add-holder">
                <a href="#" data-toggle="modal" data-target="#crupdateTicketModal" class="add-project-btn"> New Ticket</a>
            </div>
        </div>

        <div class="table-responsive w-100">
            <table class="table ticket-list-table">
                <thead class="ticket-thead">
                    <tr>
                        <th scope="col" class="text-muted">Ticket Title</th>
                        <th scope="col" class="text-muted">Description</th>
                        <th scope="col" class="text-muted">Author</th>
                        <th scope="col" class="text-muted">Priority</th>
                        <th scope="col" class="text-muted">Status</th>
                        <th scope="col" class="text-muted">Type</th>
                        <th scope="col" class="text-muted">Estimated hours</th>
                        <th scope="col" class="text-muted text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row" class="text-purple"><a data-toggle="modal" data-target="#showTicketDetails" class="ticket-link">Deploy Project</a></td>
                        <td>Deploy With As Little Cost As Possible</td>
                        <td>John doe</td>
                        <td>High</td>
                        <td>Open</td>
                        <td>Feature request</td>
                        <td class="text-center">5</td>

                        <td class="text-center">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#crupdateTicketModal">Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteTicketModal">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row d-flex justify-content-start align-items-start w-100">
            <div class="pagination-holder d-flex p-2">
                <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                <div class="purple-circle filled">1</div>
                <div class="purple-circle">2</div>
                <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>

</div>


<!-- Temporary Modals-->

<div class="modal fade" id="crupdateTicketModal" tabindex="-1" role="dialog" aria-labelledby="crupdateTicketModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-large" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="message-text" rows="7"></textarea>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Estimated hours</label>
                            <input type="number" class="form-control" id="estimated-hours">
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label for="Name" class="col-form-label">Priority:</label>
                                <select class="form-control" id="recipient-name">
                                    <option>Immediate</option>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="Name" class="col-form-label">Type:</label>
                                <select class="form-control" id="recipient-name">
                                    <option>Issue</option>
                                    <option>Bug Fix</option>
                                    <option>Feature</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="Name" class="col-form-label">Status</label>
                                <select class="form-control" id="recipient-name">
                                    <option>Opened</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Assigned Dev</label>
                            <select class="form-control" id="recipient-name" multiple>
                                <option>John doe</option>
                                <option>Jane doe</option>
                                <option>Jack Elfman</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success">Create new Ticket</button>
            </div>
        </div>
    </div>
</div>



<partial name="../Shared/Partial/Ticket/_ticketDetailsModalPartial.cshtml" />


<div class="modal fade" id="showProjectTeam" tabindex="-1" role="dialog" aria-labelledby="showProjectTeamModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Project Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="w-100 box-shadow-1" id="teamDisplay">
                    <div class="first-row-header  d-flex px-1 py-2 w-100 justify-content-between">
                        <div class="title ml-1"> Team </div>
                        <div class="mr-1"><a href="#" class="add-member-btn"> New Member</a></div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead class="project-thead">
                                <tr>
                                    <th scope="col" class="text-muted">Name</th>
                                    <th scope="col" class="text-muted">E-mail</th>
                                    <th scope="col" class="text-muted">Phone</th>
                                    <th scope="col" class="text-muted">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>John doe</a></td>
                                    <td>Johndoe@gmail.com</td>
                                    <td>07 65 10 38 75</td>
                                    <td> <a class="red-btn delete-team-member"><i class="fas fa-trash-alt"></i></a> </td>
                                </tr>
                                <tr>
                                    <td>Jane doe</td>
                                    <td>Janedoe@gmail.com</td>
                                    <td>06 17 18 31 04</td>
                                    <td> <a class="red-btn delete-team-member"><i class="fas fa-trash-alt"></i></a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>

                <div class="w-100 team-add-container p-2 d-none">
                    <form>
                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Assigned Dev</label>
                            <select class="form-control" id="recipient-name" multiple>
                                <option>John doe</option>
                                <option>Jane doe</option>
                                <option>Jack Elfman</option>
                            </select>
                        </div>

                        <div class="form-group w-100 d-flex">
                            <input type="submit" class="green-btn d-block ml-auto" value="Add Team member(s)" />
                            <a class="red-btn ml-2 px-4" id="cancelTeamAdd">Cancel</a>
                        </div>
                    </form>
                </div>

                <div class="w-100 team-remove-container p-2 d-none">
                    <form>
                        <div class="form-group">
                            <label for="estimated-hours" class="col-form-label">Delete Team Member</label>
                            <p> Are you sure you want to remove <span class="text-purple">John doe</span> from the ticket <span class="text-purple">Ticket name</span> ?</p>
                        </div>

                        <div class="form-group w-100 d-flex">
                            <a class="red-btn px-4 ml-auto mr-2" id="cancelTeamRemove">Cancel</a>

                            <input type="submit" class="green-btn d-block" value="Remove Team member" />
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row d-flex justify-content-start align-items-start w-100 d-none">
                    <div class="pagination-holder d-flex p-2">
                        <div class="purple-circle"><i class="fas fa-angle-left"></i></div>
                        <div class="purple-circle filled">1</div>
                        <div class="purple-circle"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteTicketModal" tabindex="-1" role="dialog" aria-labelledby="deleteTicketModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the ticket <span class="text-purple"> Name </span>?</p>
                <p>The deletion of this information is irreversible, and will delete all related data.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="green-btn">Delete ticket</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/Chart.js/chart.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#sectionName").text("Project");

            $("#cancelTeamAdd , #cancelTeamRemove").click(() => {
                $(".modal-footer").removeClass("d-none");
                $("#teamDisplay").removeClass("d-none");
                $(".team-add-container").addClass("d-none");
                $(".team-remove-container").addClass("d-none");

            });

            $(".add-member-btn").click(() => {
                $(".modal-footer").addClass("d-none");
                $("#teamDisplay").addClass("d-none");
                $(".team-add-container").removeClass("d-none");
            });

            $(".delete-team-member").click(() => {
                $(".modal-footer").addClass("d-none");
                $("#teamDisplay").addClass("d-none");
                $(".team-remove-container").removeClass("d-none");
            });

            $(".ticket-link").click(() => {
                setTimeout(function () {
                    $("#comments-holder").scrollTop($("#comments-holder")[0].scrollHeight)
                }, 200);
            });

            $(".ticket-tabs .nav-item").click(function (e) {
                $(".ticket-tabs .nav-item .nav-link.active").removeClass("active");
                e.currentTarget.children[0].classList.add("active");
                if (e.currentTarget.children[0].firstChild.data === "Comments") {
                    $("#comments").removeClass("d-none");
                    $("#ticket-team").addClass("d-none");
                }
                else {
                    $("#comments").addClass("d-none");
                    $("#ticket-team").removeClass("d-none");

                }
            })

            $("#show-comments-btn").click(() => {
                $("#ticket-details").toggleClass("d-none");
                $("#comments").toggleClass("d-none");

                if ($(event.target).hasClass("blue-btn")) {
                    $(event.target).text("Show Ticket Details")
                    $(event.target).removeClass("blue-btn");
                    $(event.target).addClass("yellow-btn");
                    $("#ticket-details-modal-label").text("Write to your team");


                }
                else {
                    $(event.target).text("Show Comments")
                    $(event.target).addClass("blue-btn");
                    $(event.target).removeClass("yellow-btn");
                    $("#ticket-details-modal-label").text("Ticket details");
                }
            });

        });


    </script>
}