@model BugTracker.Application.Features.Projects.ProjectVm

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-center"> <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Delete Project <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <form method="POST" asp-controller="Project" asp-action="Delete" asp-route-id="@(Model.Id)">
        <input type="hidden" asp-for="Id" />
        <div class="modal-body text-center">
            <p>Are you sure you want to delete the project <span class="text-purple font-weight-bold">@Model.Name</span> ?</p>
            <p>The deletion of this information is irreversible, and will delete all related information(s).</p>
            <p>Type <span class="text-green">Synchronize</span> to authorize the operation:</p>
            <input type="text" />
        </div>

        <div class="modal-footer">
            <input type="submit" class="green-btn" value=" Delete project" />
        </div>
    </form>

</div>
